In [1]:
Name = "Abhishek"

Age = 30

type(Age)

int

In [2]:
# Modify strings

Name_1=Name.upper()

In [3]:
Name_1

'ABHISHEK'

In [4]:
Name.upper()

'ABHISHEK'

In [5]:
Name

'Abhishek'

In [6]:
Name.lower()

'abhishek'

In [7]:
n = "Hello, World!"

In [8]:
n.replace("H", "J")

'Jello, World!'

In [9]:
n.split(",")

['Hello', ' World!']

In [10]:
# Concatenation

First_name = "Abhishek"

Last_name = "Upadhayay"

In [12]:
Full_name = First_name +" "+ Last_name

Full_name

'Abhishek Upadhayay'

In [13]:
Name

'Abhishek'

In [14]:
Age

30

In [15]:
msg = "My name is "+ Name+ " and my age is "+ str(Age)
print(msg)


# msg_1 = 'Good Noon My name is '+Name + " and my age is "+ Age

My name is Abhishek and my age is 30

In [17]:
Maths = 85
English = 75
Social_Science = 78
Science = 79
Sanskrit = 80
Hindi = 79

In [22]:
Report = "Hi guys my marks in maths "+str(Maths)+" and in English is"+ str(English)
Report

'Hi guys my marks in maths 85 and in English is75'

In [21]:
"Abhishek" + str(5)

'Abhishek5'

### f- strings == f"{Placeholder}or{Modifiers} what can you keep is {Var_name} "

-- f-strings is used for formatting strings.

In [23]:
Report = f"Hi guys my marks in maths is {Maths}, and in english it is {English}, also I got {Science} in Science."

In [24]:
Report

'Hi guys my marks in maths is 85, and in english it is 75, also I got 79 in Science.'

In [25]:
type(Maths)

int

In [26]:
mag = f"My name is {Name} and my age is {Age}."

In [27]:
mag

'My name is Abhishek and my age is 30.'

In [28]:
old_price = 59
txt = f"The new price is {old_price + 5} dollars."
print(txt)

The new price is 64 dollars.

In [30]:
# 59.00
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [31]:
22/7

3.142857142857143

In [32]:
value = f"the value of pi is {22/7:.3f}"
value

'the value of pi is 3.143'

In [34]:
msg = "I am an "AI" Engineer"
msg

SyntaxError: invalid syntax (2003692406.py, line 1)

In [35]:
# Way - 1
msg = "I am a \"AI\" enginner"
print(msg)

I am a "AI" enginner

In [36]:
# Way -2

msg = 'I am a "AI" enginner'
msg

'I am a "AI" enginner'

In [37]:
msg = "I am a 'AI' enginner"
msg

"I am a 'AI' enginner"

In [38]:
# \n == new line character -- line continuation

In [40]:
txt = "Hello\nWorld!\nI am here to learn python"
print(txt)

Hello
World!
I am here to learn python

In [41]:
msg = "I am Abhishek\nI am an AI developer"

print(msg)

I am Abhishek
I am an AI developer

In [42]:
msg = "I am Abhishek\nI am an AI Developer."
print(msg)

I am Abhishek
I am an AI Developer.

In [43]:
a = "abhishek"

print(a)

abhishek

In [44]:
print(a.capitalize())

Abhishek

In [45]:
b = "Hello, World!"
print(b[:5])

Hello

In [46]:
a

'abhishek'

In [47]:
d_1 = a.upper()
d_1

'ABHISHEK'

In [48]:
d_1.lower()

'abhishek'

In [49]:
saying = "      Yashi             Chauhan                  "


saying

'      Yashi             Chauhan                  '

In [50]:
saying.strip()

'Yashi             Chauhan'

In [51]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!